@font-face {
  font-family: "Tahoma";
  src: url("/assets/fonts/tahoma.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow: hidden;
}

header {
  width: 100vw;
  height: auto;
  font-family: Tahoma;
}

header h1 {
  font-size: 2vw;
  -webkit-text-stroke: 0.2px black;
}

main {
  font-family: Tahoma;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
}

:root {
  --color-399ddb: #399ddb;
  --color-3c39db: #3c39db;
  --color-396adb: #396adb;
  --color-63d3db: #63d3db;
  --color-aa91db: #aa91db;
  --color-cfdde0: #cfdde0;
  --color-6b8bdc: #6b8bdc;
}

.color399DDB {
  color: var(--color-399ddb);
}

.backgroundcolor399DDB {
  background-color: var(--color-399ddb);
}

.color3C39DB {
  color: var(--color-3c39db);
}

.backgroundcolor3C39DB {
  background-color: var(--color-3c39db);
}

.color396ADB {
  color: var(--color-396adb);
}

.backgroundcolor396ADB {
  background-color: var(--color-396adb);
}

.color63D3DB {
  color: var(--color-63d3db);
}

.backgroundcolor63D3DB {
  background-color: var(--color-63d3db);
}

.colorAA91DB {
  color: var(--color-aa91db);
}

.backgroundcolorAA91DB {
  background-color: var(--color-aa91db);
}

.colorCFDDE0 {
  color: var(--color-cfdde0);
}

.backgroundcolorCFDDE0 {
  background-color: var(--color-cfdde0);
}

.color6B8BDC {
  color: var(--color-6b8bdc);
}

.backgroundcolor6B8BDC {
  background-color: var(--color-6b8bdc);
}

.flex {
  display: flex;
}

.justifycontentcenter {
  justify-content: center;
}

.justifycontentaround {
  justify-content: space-around;
}

.flexrow {
  flex-direction: row;
}

.flexcolumn {
  flex-direction: column;
}

.alignitemscenter {
  align-items: center;
}

.justifyselfcenter {
  justify-self: center;
}

nav ul {
  gap: 20px;
}

.searchbar {
  width: 17vw;
  height: 2vh;
  border-radius: 15px;
  border: #000000 solid 0.5px;
  background-color: #d9d9d9;
  padding: 1vw 1vw;
  font-size: 100%;
}

header div img {
  height: 10vh;
}

main {
  overflow: hidden;
}

.box {
  width: 80vw;
  height: 50vh;
  margin: 10vh auto 10vh auto;
  background-color: var(--color-cfdde0);
}

#searchhidden {
  display: none;
  width: 100px;
  background-color: red;
}

.herotext {
  font-size: 4.5vw;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  text-indent: 4px;
  text-transform: capitalize;

  color: #ffffff;

  -webkit-text-stroke: 0.2px #000000;
}

footer {
  background-color: #399ddb;
  width: 100vw;
  height: 20vh;
}
