@font-face {
  font-family: "Tahoma";
  src: url("/assets/fonts/tahoma.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  max-width: 100vw;
  height: 10vh;
  font-family: Tahoma;
}

header h1 {
  font-size: 2vw;
  -webkit-text-stroke: 0.2px black;
}

main {
  font-family: Tahoma;
  min-height: 100vh;
}

.leftflightbox{
  width: 100%;
  height: 30vh;
  background-color: #D9D9D9;
}

.leftflightboxmain{
  width: 15%;
  height: 100%;
  background-color: #ADADAD;

  -webkit-text-stroke: #EEFF00 0.2px;

  text-align: center;
}

.leftflightboxsecondary{
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 10px;
  font-weight: normal;
}

.rightflightbox{
  width: 100%;
  height: 30vh;
  background-color: #D9D9D9;
}

.rightflightboxmain{
  width: 15%;
  height: 100%;
  background-color: #ADADAD;

  -webkit-text-stroke: #EEFF00 0.2px;

  text-align: center;
}

.rightflightboxsecondary{
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 10px;
  font-weight: normal;
}


ul {
  list-style: none;
  list-style-type: none;
}

a {
  font-size: 1.5vw;
  text-decoration: none;
  color: white;

  transition-duration: 0.2s;
}

a:hover{
  scale: 1.2;

  color: lightblue;
}

main a{
  color: black;
}

:root {
  --color-399ddb: #399ddb;
  --color-3c39db: #3c39db;
  --color-396adb: #396adb;
  --color-63d3db: #63d3db;
  --color-aa91db: #aa91db;
  --color-cfdde0: #cfdde0;
  --color-6b8bdc: #6b8bdc;
}

.color399DDB {
  color: var(--color-399ddb);
}

.backgroundcolor399DDB {
  background-color: var(--color-399ddb);
}

.color3C39DB {
  color: var(--color-3c39db);
}

.backgroundcolor3C39DB {
  background-color: var(--color-3c39db);
}

.color396ADB {
  color: var(--color-396adb);
}

.backgroundcolor396ADB {
  background-color: var(--color-396adb);
}

.color63D3DB {
  color: var(--color-63d3db);
}

.backgroundcolor63D3DB {
  background-color: var(--color-63d3db);
}

.colorAA91DB {
  color: var(--color-aa91db);
}

.backgroundcolorAA91DB {
  background-color: var(--color-aa91db);
}

.colorCFDDE0 {
  color: var(--color-cfdde0);
}

.backgroundcolorCFDDE0 {
  background-color: var(--color-cfdde0);
}

.color6B8BDC {
  color: var(--color-6b8bdc);
}

.backgroundcolor6B8BDC {
  background-color: var(--color-6b8bdc);
}

.flex {
  display: flex;
}

.justifycontentcenter {
  justify-content: center;
}

.justifycontentaround {
  justify-content: space-around;
}

.justifycontentflexend {
  justify-content: flex-end;
}

.flexrow {
  flex-direction: row;
}

.flexcolumn {
  flex-direction: column;
}

.alignitemscenter {
  align-items: center;
}

.aligncontentcenter {
  align-content: center;
}

.justifyselfcenter {
  justify-self: center;
}

nav ul {
  gap: 20px;
}

.user-icon {
  width: 75%;
  height: auto;
}

.searchbar {
  width: 17vw;
  height: 2vh;
  border-radius: 15px;
  border: #000000 solid 0.5px;
  background-color: #d9d9d9;
  padding: 1vw 1vw;
  font-size: 100%;
}

header div img {
  height: 10vh;
}

.indexbox {
  margin: 10vh auto 10vh auto;
}

.aboutboxleft {
  margin: 5vh auto 20vh 0px;
  p {
    padding: 1%;
  }
}

.aboutboxright {
  margin: 20vh 0px 5vh auto;
  p {
    padding: 1%;
  }
}

.aboutboxright,
.aboutboxleft {
  width: 60vw;
  height: 20vh;
  background-color: var(--color-cfdde0);
}


.indexbox,
.box {
  width: 80vw;
  height: 50vh;
  background-color: var(--color-cfdde0);
}

#searchhidden {
  display: none;
  width: 100px;
  background-color: red;
}

.herotext {
  font-size: 4.5vw;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  text-indent: 4px;
  text-transform: capitalize;

  color: #ffffff;

  -webkit-text-stroke: 0.2px #000000;
}

footer {
  background-color: #399ddb;
  width: 100%;
  height: 10vh;
}

.gap-100{
  gap: 100px;
}

.adminflightlist {
  width: 5%;
  height: 10%;
  min-width: 100px;
  min-height: 100px;
  background-color: #737373;
  text-align: center;
  border-radius: 360deg;

  transform-origin: center;
  transition: transform 220ms ease;
}

.adminflightlist:hover {
  transform: scale(106%);
  cursor: pointer;
}

.adminflightlist:active {
  transition: transform 22ms ease;
  transform: scale(98%);
  cursor: pointer;
}

.flightsettinginfo h2,
.adminflightlist h2{
  font-size: x-small;
  color: white;

  letter-spacing: 1.5px;

  -webkit-text-stroke: rgb(220, 241, 243) 0.1px;
}

.adminflightsection {
  margin-top: 5vh;
}

#flightcost {
  margin-bottom: 2.5vw;
}

.settingclosemenu {
  justify-content: flex-end;
  width: 100%;
}

.window-option-close {
  border-radius: 2rem;
  background-color: #737373;
  padding: 0.75rem;
}

.window-option-img {
  width: 1.5rem;
  height: auto;
}

.wrap{
  flex-wrap: wrap;
}

.adminbox{
  gap: 20px;
  padding: 5px;
  height: fit-content;
  min-height: 100px;
  justify-self: center;
}

.adminflightsettingcontainer {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  z-index: 9999;
  background-color: #00000040;
}

.adminflightsettings {
  justify-content: flex-start;
  width: 20%;
  height: 40vh;
}

.menu-section {
  position: relative;
  left: 800px;
  top: 200px;
  width: fit-content;
  max-width: 100vw;
  height: fit-content;
}

.menu {
  width: fit-content + 5%;
  height: auto;
  padding: 5px;
  background-color: #C9C9C9;
  border-radius: 15px 0px 15px 15px;
}

.menu-admin {
  width: fit-content;
}

.menu-login,
.menu-sign-up,
.menu-settings {
  width: fit-content;
}
.line{
  width: 1vw;
  height: 70%;
  margin: auto 10px auto 10px;
  background-color: black;
}

.airplane{
  position: absolute;
  z-index: -1;
  left: 10vw;
  width: 40vw;
}

.about{
  height: 100vh;
}

.paragraftext{
  font-size: 1rem;
  font-weight: bold;
}

.green-button{
  margin-top: 20px;
  background-color: #98CD7F;
  padding: 5px;
  border-radius: 6px;
}

.averagestar,
.star{
  width: 50px;
  height: 50px;

  cursor: pointer;
}

.reviewform{
  width: 40vw;
  background-color: #868686;
  color: white;
  height: 40vh;
}

#reviewinput{
  margin-top: 10px;
  width: 40%;
  height: 30%;

  max-width: 40%;
  max-height: 30%;

  min-width: 40%;
  min-height: 30%;

  background-color: white;
  border: #929292 1px;
  border-radius: 6px;

  text-align: left;

  padding: 10px;
}